footer {
    background-color: #c8cbdb;
    color: #1946d9;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(228, 12, 12, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center; 
    gap: 0.5rem;
}
