header {
    background-color: #131bba;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}
