* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 0 16px;
}

main {
    flex: 1; 
}

.notes-container {
    display: flex;
    flex-direction: column-reverse; 
    gap: 30px; 
    margin: 0 auto;
    overflow: auto; 
    padding: 20px 0;
    max-height: calc(100vh - 120px); 
    position: relative;
}

pre, code {
    display: block;
    width: 100%; 
    overflow-x: auto;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace; 
    font-size: 1em;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 16px 0; 
}

@media (max-width: 768px) {
    header,
    form.create-note {
        padding: 16px;
    }

    form.create-note {
        margin: 20px auto;
    }

    .note {
        max-width: 100%;
        padding: 10px;
    }

    .note-header h1 {
        font-size: 1em;
    }

    .note p {
        font-size: 1em;
    }

    form.create-note button {
        bottom: -12px;
        right: 12px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    form.create-note {
        width: 100%;
        padding: 10px;
    }

    .note-header h1 {
        font-size: 0.9em;
    }

    .note p {
        font-size: 0.9em;
    }

    form.create-note button {
        width: 28px;
        height: 28px;
    }
}
